#var TRUE 0
#var FALSE 1

#var logged_in $FALSE
#nop { 
  SESSION CONNECTED event is not working as expected
}

#event {SESSION CONNECTED} { #var logged_in $FALSE }
#event {SESSION DISCONNECTED} { #var logged_in $FALSE }



#nop #act {name or type NEW:} 
#act {Enter your character\'s name or type NEW:} {
  #if { $logged_in == $FALSE } {
    #send $USERNAME
  }
}

#act {Password: } {
  #if { $logged_in == $FALSE } {
     #send {$PASSWORD};
     #var logged_in $TRUE
  }
}